/* css for display module */
.display {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    overflow: auto;
}

/* black boarder around display and grey background */
.display {
    border: 1px solid black;
    background-color: #f0f0f0;
}